*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #a0a0a0;
    --text-color-400: #acacac;
}

body {
    min-height: 100vh;
    background-color: #f5f7f9;
    font-family: system-ui;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 15rem 1fr 25rem;
    grid-template-rows: 5rem 1fr;

    & i {
        color: var(--text-color);
        font-size: 1.2rem;
    }
}


nav {
    grid-column: 2/ -1;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;

    & .input-grp {
        position: relative;

        & input {
            width: 20rem;
            border: transparent;
            padding: .7rem 1rem;
            outline: 0;
            background: #f5f7f9;
            border-radius: .5rem;

            &::placeholder {
                color: var(--text-color-400);
            }
        }

        & i {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1rem;
        }
    }

    & .profile {
        display: flex;
        align-items: center;
        gap: 1.7rem;

        & img {
            width: 3rem;
            border-radius: 50%;
        }
    }


}

#left-aside {
    background: #fff;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 1rem 1rem 4rem 1rem;
    gap: 2rem;

    & ul {
        list-style: none;
        margin: 0;

        padding: 0;

        display: grid;
        grid-auto-rows: 3rem;
        align-items: center;
        justify-content: center;
    }

    & ul li {
        display: flex;
        gap: 1rem;
        color: var(--text-color-400);
    }

    & .update {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        text-align: center;
        background: #f5f7f9;
        height: 12rem;
        position: relative;
        border-radius: 1.5rem;
        padding: 1rem;
        color: black;
        font-weight: 500;

        & img {
            top: -7rem;
            rotate: 15deg;
            width: 100%;
            position: absolute;
        }

        & a {
            margin-top: 1rem;
            padding: .5rem 2rem;
            background: #406bde;
            text-decoration: none;
            color: white;
            border-radius: 100vmax;
            width: min-content;

        }
    }
}



#right-aside {
    background-color: #262648;
}


main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hello-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15rem;
    padding: 2rem 4rem;
    background: #fff;
    border-radius: 1rem;

    & .hello {
        display: grid;
        gap: 1rem;
        
        & p {
            color: var(--text-color-400);
        }

        & h2 {
            font-weight: 600;
        }
        & button {
            background-color:#406bde;  
            color:white;
            padding :.8rem 2rem ;
            border:none ;
            border-radius: 100vmax;
            font-size: 1.1rem;
            
        }
    }


}
.library{
    flex: 1;
    background: #fff;
    border-radius: 1rem;
    overflow: hidden;
}

.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;

    background: #fff;

    & .input-grp {
        position: relative;
        margin-left: auto;

        & input {
            width: 20rem;
            border: 3px solid #f5f7f9;
            padding: .7rem 1rem;
            outline: 0;
    
            border-radius: .5rem;

            &::placeholder {
                color: var(--text-color-400);
            }
        }

        & i {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1rem;
        }
    }
}